DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER=
SMTP_FROM=
SMTP_FROM_NAME=

APP_NAME="Mandato Digital"
APP_SLOGAN="Sistema de gestão de gabinete"
BASE_URL="http://localhost:3000/"

TWIG_CACHE=false
