{% extends "layouts/guest.twig" %}

{% block content %}
	<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
		<div class="card border-0 bg-transparent" style="width: 100%; max-width: 400px;">
			<div class="card-body">

				<div class="text-center mb-3">
					<img src="/img/logo_white.png" alt="Logo" class="img-fluid" style="max-width: 100px;">
				</div>

				<h2 class="text-center mb-2 text-white fw-light">
					Recuperar senha
				</h2>

				<p class="card-text text-center text-white">
					Informe seu e-mail para receber as instruções de recuperação.
				</p>

				{% if status in ['success', 'info'] %}
					<div class="alert alert-{{ status }} rounded-pill py-2 px-4 border-0 text-center small fw-semibold mb-2">
						{{ message }}
					</div>
				{% endif %}

				{% if status == 'error' %}
					<div class="alert alert-danger rounded-pill py-2 px-4 border-0 text-center small fw-semibold mb-2">
						{{ message }}
						{{ error_id }}
					</div>
				{% endif %}

				<form method="post" class="custom-form">

					<div class="mb-4">
						<input type="email" name="email" class="form-control rounded-pill py-2 px-4" value="jairojeffersont@gmail.com"  placeholder="E-mail" required>
					</div>

					<div class="col-12 d-flex gap-2 mt-3">
						<button type="submit" name="btn_salvar" class="btn btn-success rounded-pill py-2 w-100">Enviar link</button>
						<a href="/login" class="btn btn-primary rounded-pill py-2 w-100">Voltar para login</a>
					</div>

				</form>


			</div>
		</div>
	</div>
{% endblock %}
